@import url("bootstrap.min.css")
@import url("bootstrap-theme.css");

@font-face { 
	font-family: 'nevis-Bold'; 
	src: url('../fonts/nevis/nevis-Bold.eot?') format('eot'), 
	     url('../fonts/nevis/nevis-Bold.woff') format('woff'), 
	     url('../fonts/nevis/nevis-Bold.ttf') format('truetype'), 
	     url('../fonts/nevis/nevis-Bold.svg#nevis-Bold') format('svg'); 

	font-weight: normal;
	font-style: normal;
}
/* Sticky footer style */
html, body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	
  	/* Negative indent footer by its height */
  	margin: 0 auto -60px;
  	/* Pad bottom by footer height */
  	padding: 0 0 60px;
}

h1, h2, h3, h4, h5, h6, li, button, .navbar-brand {
	font-family: 'nevis-Bold';
}

p {
	font-family: 'Times New Roman';
}

body {
	background: url('./exclusive_paper/exclusive_paper.png') repeat 0 0;
}

.jumbotron {
	margin-top: 55px;
	/* background-color: rgb(44, 62, 80); */
	height: 650px;
	background-image: url('../images/pianokey3.jpg');
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.jumbotron h1 {
	font-size: 1.5em;
}

.jumbotron p {
	font-size: 1.2em;
}

.jumbotron .btn {
	padding: 0.5em;
}

.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
}

#about, #instructor-info, #events, #contact {
	padding-top: 40px;
	padding-bottom: 40px;
}

#about {
	margin-top: -30px; 
	/* background-color: rgba(41, 128, 185,1.0); */
}

#instructor-info {
	/* background-color: rgba(46, 204, 113,1.0); */
}

#events {
	/* background-color: rgba(44, 62, 80,1.0); */
}

#contact {
	/* background-color: rgba(22, 160, 133,1.0); */
}

#events li {
	/* color: #ffffff; */
}

.heading {
	/* color: #ffffff; */
	margin-bottom: 25px;
}

#about p {
	/* color: #ffffff; */
	font-size: 1.3em;
}

#instructor-info h3 {
	/* color: #ffffff; */
}

.centered {
	text-align: center;
}

.list-social-icons {
	margin-bottom: 45px;
}

.tooltip-social a {
	text-decoration: none;
	color: inherit;
}

.facebook-link a:hover {
	color: #3b5998;
}

.twitter-link a:hover {
	color: #39a9e0;
}

.google-plus-link a:hover {
	color: #d14836;
}

/* Set the fixed height of the footer here */
#footer {
	padding-top: 40px;
	padding-bottom: 40px;
  	height: 140px;
  	background-color: #2f2f2f;
  	color: #fff;
}
